@page

<link rel="stylesheet" href="/site1/style.css">

<div>
    <!-- HTML içeriği -->
    <h1>Benim HTML Sitem</h1>
    <img src="/site1/css3-html5.png">
</div>

<script src="/site1/script.js"></script>