body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
}

/* NAVBAR */
nav {
  background: #2d6a4f;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTAINER */
.container {
  padding: 30px;
}

/* TABLE STYLE */
table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #2d6a4f;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* FORM STYLE */
form {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* BUTTON */
button {
  background-color: #2d6a4f;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1b4332;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}